@CH.ARSET "UTF-8 "; .panel-foot {
	background-color: rgba(17, 18, 18, 1);
	border-width: 0px;
	border-radius: 0px;
	margin: 0px 0px 0px 0px;
	overflow: hidden;
	border-radius: 0px;
	background-color: rgba(245, 245, 240, 0.4);
	border-width: 0px 0px 0.5px 0px;
	color: rgba(64, 64, 64, 0.8);
}

.header-title {
	font: normal normal bold 1rem "Arial", Monaco, monospace;
	text-align: left;
	padding-bottom: 5px;
	margin: 0px;
	letter-spacing: 1pt;
	background-image: url("../img/back.png");
    opacity: 0.90;
    filter: alpha(opacity=90);
}

.header-title > div > h5 {
	margin-top: 16px;
	color: rgba(253, 253, 254, 1);
}

.logo {
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 100% auto;
}

.logo-izq {
	text-align: center;
	padding-top: 5px;
	padding-left: 0px;
	margin: 0px;
}

.login-header {
	width: 80%;
	margin-top: 30px;
	text-align: center;
}

.login-header h1 {
	font-family: arial;
	font-weight: bold;
	font-size: 18px;
	color: rgba(58, 56, 54, 1);
	letter-spacing: 1pt;
	text-align: center;
}

.login-header img {
	margin-top: 15px;
}

.login h4 {
	font-family: arial;
	font-weight: bold;
	color: rgba(255, 255, 255, 1);
	letter-spacing: 1pt;
	text-align: center;
}

.login label {
	color: rgba(255, 255, 255, 1);
}

.jumbotron {
	background-color: rgba(0, 0, 20, 0.85) !important;
}

.login {
	width: 40%;
	margin-top: 20px;
	padding-top: 10px;
}

.login .form-button {
	text-align: right;
}

body {
	font: 90%/1.45em Arial;
	font-size: 12px;
	font-family: Arial;
	padding-top: 31px;
	font-size: 12px;
}

.graf {
	min-width: 450px;
	margin: 0px 0px 0px 0px;
}

.navbar-default {
	background-color: rgba(17, 18, 18, 1);
	border-width: 0px;
	border-radius: 0px;
	margin: 0px 0px 0px 0px;
}

.m-font {
	font-family: arial;
	font-weight: bold;
	font-size: 10px;
	text-align: center;
	letter-spacing: 1pt;
}

.navbar-default .navbar-nav>li>a {
	color: rgba(214, 211, 211, 1);
	background-color: rgba(248, 248, 248, 0);
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
	{
	color: rgba(51, 51, 51, 1);
	background-color: rgba(248, 248, 248, 1);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus {
	color: rgba(85, 85, 85, 1);
	background-color: rgba(231, 231, 231, 1);
}

.navbar-default .navbar-toggle {
	border-color: #ddd;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
	{
	background-color: #ddd;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #888;
}

.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar
	{
	background-color: #111212;
}

#perfil .has-error {
	color: #cc0000;
}

#perfil .has-success {
	color: #28aa52;
}

.form-control, .input-group-addon {
	height: 23px;
	font-size: 10px;
	padding: 2px 1px;
}

.checkbox {
	padding: 0px 0px 0px 0px;
}

.form-group {
	margin-bottom: 3px;
}

.modal-tab {
	margin-top: 20px;
}

.panel.with-nav-tabs .panel-heading {
	padding: 5px 5px 0 5px;
}

.panel.with-nav-tabs .nav-tabs {
	border-bottom: none;
}

.panel.with-nav-tabs .nav-justified {
	margin-bottom: -1px;
}

.with-nav-tabs.panel-default .nav-tabs>li>a, .with-nav-tabs.panel-default .nav-tabs>li>a:hover,
	.with-nav-tabs.panel-default .nav-tabs>li>a:focus {
	color: #777;
}

.with-nav-tabs.panel-default .nav-tabs>.open>a, .with-nav-tabs.panel-default .nav-tabs>.open>a:hover,
	.with-nav-tabs.panel-default .nav-tabs>.open>a:focus, .with-nav-tabs.panel-default .nav-tabs>li>a:hover,
	.with-nav-tabs.panel-default .nav-tabs>li>a:focus {
	color: #777;
	background-color: #ddd;
	border-color: transparent;
}

.with-nav-tabs.panel-default .nav-tabs>li.active>a, .with-nav-tabs.panel-default .nav-tabs>li.active>a:hover,
	.with-nav-tabs.panel-default .nav-tabs>li.active>a:focus {
	color: #555;
	background-color: #fff;
	border-color: #ddd;
	border-bottom-color: transparent;
}

.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu {
	background-color: #f5f5f5;
	border-color: #ddd;
}

.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>li>a {
	color: #777;
}

.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>li>a:hover,
	.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>li>a:focus
	{
	background-color: #ddd;
}

.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>.active>a,
	.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>.active>a:hover,
	.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>.active>a:focus
	{
	color: #fff;
	background-color: #555;
}

.form-horizontal .control-label {
	text-align: left;
}

.form-horizontal > .btns {
	text-align: right;
	padding-right: 0;
	margin-bottom: 0px;
}

.col-lg-6 {
	padding-right: 35px;
	padding-left: 20px;
}

.col-md-6 {
	padding-right: 35px;
	padding-left: 20px;
}

.form-control-static {
	font-style: italic;
	font-weight: bold;
}

.table {
	margin-top: 2%;
}

.display {
	font-size: 11px;
	width: 100%;
}

.col-right {
	text-align: right;
}

@media only screen and (min-width : 320px) {
	h4 {
		font-size: 1rem;
	}
	.logo {
		height: 0px;
	}
}

@media only screen and (min-width : 480px) {
	h4 {
		font-size: 1.2rem;
	}
	.logo {
		height: 0px;
	}
}

@media ( min-width : 544px) {
	h4 {
		font-size: 1.4rem;
	}
	.logo {
		height: 0px;
	}
}

@media ( min-width : 768px) {
	h4 {
		font-size: 1.5rem;
	}
	.logo {
		height: 40px;
		display:inline-block;
	}
	.navbar-nav>li>a {
		padding-top: 6px !important;
		padding-bottom: 0 !important;
		height: 31px;
	}
	.navbar {
		min-height: 20px;
	}
	.navbar-brand {
		height: 20px;
		line-height: 20px;
	}
}

@media ( min-width : 992px) {
	h4 {
		font-size: 1.6rem;
	}
}

@media ( min-width : 1200px) {
	h4 {
		font-size: 1.8rem;
	}
}

.nav-tabs>li>a {
	padding-top: 3px !important;
	padding-bottom: 0 !important;
	height: 25px;
}